.users-block{
    display: flex;
}

.users-block__users-list{
    background-color: dimgray;
    flex-grow: 1;
}

.users-block__edit-panel{
    flex-grow: 3;
    background-color: darkgrey;
}

.users-block__users-list li{
    list-style: none;
    padding: 5px;
}

.users-block__users-list ul{
    padding-left: 0px;
}

.selected{
    background-color: royalblue;
}

.users-block__edit-panel form fieldset{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.readonly{

}
