.users-block__user-form
    form(name = 'user-data')
        fieldset
            legend Данные пользователя
            label Имя и Фамилия
            input#fullName(type='text' value=`${item.fullName}`)
            label e-mail
            input#email(type='text' value=`${item.email}`)
            input#buttonSave(type='button' value='Редактировать')
            input#buttonEdit(type='button' value='Сохранить')
