.users-block__users-list
    input#buttonAdd(type='button' value='Добавить')
    input#buttonClear(type='button' value='Очистить базу')
    ul#list
        each item in items
            li(id=`${item._id}`)= `${item.fullName} ${item.email}`
